@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  background-color: @surface0;
  border-radius: 1rem;
  margin: 5px 1rem;
  padding: 0px 0.5rem;
}

#workspaces button {
  color: @lavender;
  border: 0px;
}

#workspaces button.active {
  color: @red;
}

#workspaces button:hover {
  color: @sapphire;
}

@keyframes urgentino {
  25% {
    color: @lavender;
  }
  50% {
    color: @maroon;
  }
}

#workspaces button.urgent {
  animation: urgentino 1s linear infinite;
}

#backlight,
#battery,
#bluetooth,
#clock,
#idle_inhibitor,
#language,
#mpris,
#pulseaudio,
#tray,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 1rem;
}

#idle_inhibitor {
  padding: 0.5rem 0rem;
}

#idle_inhibitor.activated {
  color: @red;
}

#language {
  padding: 0.5rem 1rem;
}

#mpris {
  color: @green;
  border-radius: 1rem;
  margin-left: 1rem;
}

#bluetooth {
  color: @blue;
  padding: 0.5rem 0;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 0px;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  padding-left: 0;
  color: @red;
}

#tray {
  border-radius: 1rem;
}

#tray > .passive {
  opacity: 0.5;
}
